@unit: rem; // px
// @base = 设计稿的尺寸 / 10; iphone6: 37.5,
@base: 37.5; // 1
// layout
@columns: 12;

// color
@red: red;
@white: #fff;
@light: #999;
@gray: #666;
@dark: #333;
@deep: #000;

// base
@font-size-base: unit(24, @unit) / @base;
@font-color-base: @dark;
@body-bgcolor: @white;
@scrollbar-thumb-bgcolor: @light;
@scrollbar-track-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
@scrollbar-track-bgcolor: @white;
@border-color: #bcbcbc;

// c-color bg-color
@colorList: red, white, light, gray, dark, deep;
// liner-color 
@linerColor: red;

// font-size

@fontSizeList: 12, 14, 16, 24;

// line-heihgt 
@lineHeightList: 24, 26, 34, 36, 44;

// padding
@paddingList: 5, 10, 15, 20, 30;

// margin
@marginList: 5, 10, 15, 20, 30;

// line
@lineList: 1, 2, 3;

// size
@sizeList: 100, 68;